@model Sofi.Web.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<link href="../../Content/login.css" rel="stylesheet" type="text/css" />
<div id="logonya">
    <img src="/Content/images/login/logo_perusahaan.png" title='PT. Sudah Bangkrut'/>
    <h2>
        PT. Sudah Bangkrut
    </h2>
    <div id="registration">
        <form id="registerUserForm" action="/Account/Login" method="post">
        <fieldset>
            <p>
                <input type="submit" id="submitForm" autofocus="false" title='Click for login to application'/>
            </p>
            <p>
                <input id="txtUserName" name='Username' type="text" required="required" autofocus="true" placeholder="Username" autocomplete='off'/>
            </p>
            <p>
                <input id="txtPassword" name='Password' type="password" required="required" placeholder="Password" />
            </p>
            <p>
                @Html.ValidationSummary(true)
            </p>
        </fieldset>
        </form>
    </div>
</div>
<footer>
    <img src="/Content/images/login/logo_inforsys.png" title='Powered by'>
</footer>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
