@{
    ViewBag.Title = "Form Sales Order";
}
@section scripts{
    @Scripts.Render("~/Scripts/libs/include-ext.js")
    @Scripts.Render("~/Scripts/tests/extjs/formsalesorder.js")
}
@section styles{
    @Styles.Render("~/Content/sofi.css")
}
<h2>FormSalesOrder</h2>

